.scalebutton {
    background-color: inherit;
    float: left;
    border: 2px solid #494848;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 12px;
}

.scalebuttons {
    margin: 0 auto; 
    text-align: center;
    width: inherit;
    display: inline-block;
}

/*.scalebutton:hover {
    background-color: #6a96ce;
    color: white;
}*/