.plate-block {
 position: relative;

}

#container1 {
 position: absolute;
 z-index: 1;
 margin: 0 auto;
 top: 0px;
 left: 0px;
}

.plate-cover {
 width: 800px; 
 height: 400px;
 margin: 0 auto; 
 position: absolute;
 z-index: 2;
 top: 28px;
 left: 0px;
}

.label-bar {
  position: relative;
  bottom: -440px;
  margin-bottom: 30px;
}