
html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: #2b2b2b;
    vertical-align: middle;
}

div {
   word-wrap: break-word;
   width: 700px;
}

h1 {
    color: #ffffff;
    text-align: center;
}

h3 {
    color: #ffffff;

}


p {
    font-family: verdana;
    font-size: 16px;
    color: #ffffff;
}

text {
    font-family: verdana;
    font-size: 16px;
    color: #ffffff;
}

.hoverinfo {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 150px;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  top: 120px;
  left: 100px;
}

#slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;
    width: 30%;
    height: 15px;
    border-radius: 5px;   
    background: #6D6E7E;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #484DE7;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#range{
    font-family: verdana;
    color: #ffffff;
}


